.category {
    &--button {
        &__container{
                margin-bottom: 4rem;
                display: flex;
                justify-content: center;
            }
        &__filter {
            background: transparent;
            border: 1px yellow solid;
            font-size: 1rem;
            text-transform: capitalize;
            margin: 0 0.5rem;
            letter-spacing: 1px;
            padding: 0.3rem 0.7rem;
            color: white;
            cursor: pointer;
            transition: var(--transition);
            border-radius: var(--radius);

            &:hover {
                background: yellow;
                color: black;

            }
        }
    }
}
